<form class="col s12" action="/users" method="post" id="reg-form">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<div class="row">
		<div class="input-field col s6">
			<input id="first_name" name="user[first_name]" type="text" class="validate">
			<label for="first_name">First Name</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input id="last_name" name="user[last_name]" type="text" class="validate">
			<label for="last_name">Last Name</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input id="email" name="user[email]" type="text" class="validate">
			<label for="email">Email</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input id="password" name="user[password]" type="text" class="validate">
			<label for="password">Password</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s6">
			<input id="password_confirmation" name="user[password_confirmation]" type="text" class="validate">
			<label for="password_confirmation">Confirm PW</label>
		</div>
	</div>
	<button class="btn" type="submit">Register</button>
</form>
<br>
<a href="/" class="btn">Back</a>

<%= flash[:reg_errors] %>